/* toggle-right-sidebar */
.pull-right {
  float: right;
  position: fixed;
  right: 0px;
  top: 70px;
  width: 90px;
  /* z-index: ; */
  text-align: center;
}

.toggle-right-sidebar span i {
  background: #0d1326;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #e6ebff;
  border-radius: 50px;
  font-size: 26px;
  cursor: pointer;
  opacity: 0.5;
}

/* pull-right toggle-right-sidebar */

.toggle-right-sidebar {
  position: fixed;
  right: 0px;
  top: 140px;
  z-index: 99999;
  text-align: center;
  background-color: #0d1326;
  width: fit-content;
  padding: 20px 10px;
}

.right-sidebar-btn {
  background-color: #0d1326;
  color: #41414d;
  font-size: 12px;
  font-weight: bolder;
  cursor: pointer;
}

.right-sidebar-btn:hover {
  color: white;
}

/* main-slider */
.Read-More {
  background-color: white;
  color: #239f4f;
  border: solid white;
}

.Contact-Us {
  border: solid white;
  color: white;
}

.Contact-Us:hover {
  background-color: white;
  color: #239f4f;
  border: solid white;
}

.Read-More:hover {
  background-color: white;
  color: #239f4f;
  border: solid white;
}

.left-position {
  top: 20%;
}

.center-position {
  top: 20%;
  left: 40%;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel-indicators li.active {
  width: 30px;
  height: 10px;
  border-radius: 50px;
  background-color: #239f4f;
}

/* main-slider */

/* header */
.fixed-top {
  top: 40px !important;
  right: 0 !important;
  left: 0 !important;
  z-index: 1000;
}

.navbar .navbar-brand {
  color: #239f4f !important;
  font-size: 30px !important;
  font-weight: 600 !important;
}

.navbar-collapse {
  flex-grow: 1 !important;
  align-items: center !important;
  flex-basis: 100% !important;
}

.header-top {
  background-color: #ffff;
  display: grid;
  align-items: center;
  height: 100px;
  transition: all 0.4s ease 0s;
}

.navbar .navbar-brand p {
  margin: auto;
}

/* w3l-features py-5 */

.col_icon {
  color: #239f4f;
  font-size: 30px;
}

.col_title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
  color: #000c04;
}

.col_content {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
  font-family: "Jost", sans-serif;
}

.col_Read-More {
  font-size: 17px;
  padding: 0;
  border-bottom: 2px solid #239f4f;
  color: var(--heading-color);
  transition: 0.3s ease-in-out;
  font-weight: 600;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
  text-transform: capitalize;
  cursor: pointer;
}

.col_Read-More:hover {
  color: #239f4f;
}

.features_ {
  background-color: #f9f7fe;
}

.col_ {
  background-color: white;
  border-radius: 20px;
  margin: 20px;
  padding: 40px 20px;
  cursor: pointer;
}

.col_:hover {
  background: rgba(105, 105, 105, 0.3);
}

/* <!-- w3l-grids-3 py-5 id:"about" --> */
.text-item {
  margin: 0 auto;
  text-align: center;
  max-width: 700px;
}
.h6-item {
  color: #f13525;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 2em;
}
.h3-item {
  text-transform: capitalize;
  line-height: 48px;
  font-size: 40px;
  font-weight: 600;
}
.paragraph-item {
  color: #696977;
  line-height: 28px;
  font-size: 1.2em;
}
.read {
  color: #000c04 !important;
  border-bottom: 2px solid #239f4f;
  text-decoration: none !important;
  margin-top: 20px;
  font-weight: 600;
  text-transform: capitalize;
  display: inline-block;
  transition: 0.3s ease-in-out;
  font-size: 15px;
}
.read:hover {
  color: #239f4f !important;
}

/* w3l-services1 */
.py-5 {
  padding-bottom: 3rem !important;
}
.container {
  /* max-width: 1200px; */
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.pl-gl-5 {
  padding-left: 3rem !important;
}
.mg-lg-0 {
  padding-bottom: 0 !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.w3l-services1 .cwp4-text {
  align-self: center;
}
.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.sub-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f13525;
}
.hny-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}
.w3l-services1 .cwp4-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24.5px;
  color: #696969;
  margin: 15px 0 35px 0;
}
.w3l-services1 .cwp4-text ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #0d1326;
  margin: 15px 0;
  font-weight: 600;
  list-style: none;
}
.w3l-services1 .cwp4-text ul {
  color: green;
  margin-right: 12px;
  background: var(--bg-light);
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
}

/* <!-- w3l-pricing-7-main py-5" id="pricing" --> */
.w3l-pricing-7-main {
  background-color: #faf7fe;
}
.w3l-pricing-7-main .pricing-sec-7 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 5% auto;
  margin-top: 0;
  width: 90%;
}
.w3l-pricing-7-main .pricing-gd-left {
  background-color: white;
  border-radius: 6px;
  align-self: center;
}
.w3l-pricing-7-top {
  text-align: center;
}
.w3l-pricing-7-main h6 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}
.w3l-pricing-7-main h4 {
  font-size: 40px;
  line-height: 45px;
  margin: 15px 0 20px;
  text-align: center;
  font-weight: 600;
  color: #239f4f;
}
.w3l-pricing-7-main h4 span {
  font-size: 16px;
  line-height: 25px;
  color: #999;
  font-weight: 400;
}
.w3l-pricing-7-main h4 label {
  font-size: 25px;
  vertical-align: text-top;
}
.w3l-pricing-7-bottom {
  text-align: center;
  padding-top: 1em;
}
.w3l-pricing-7-bottom {
  text-align: center;
  padding-top: 1em;
}
.w3l-pricing-7-main ul.list {
  min-height: 120px;
}
.w3l-pricing-7-bottom-bottom ul li {
  list-style: none;
  margin-bottom: 5px;
  color: #304659;
}
.w3l-pricing-7-bottom-bottom ul li p {
  font-size: 15px;
  line-height: 25px;
  font-weight: normal;
  align-self: center;
  padding-top: 6px;
}
.w3l-pricing-7-bottom-bottom ul {
  padding-left: 1px;
  padding-bottom: 2px;
}
.buy-button {
  margin-top: 2em;
  color: #239f4f;
  padding-bottom: 50px;
}
.btn-style {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
}
.btn-primary {
  color: #fff;
  background-color: #239f4f;
  border-color: #239f4f;
}
.btn-primary:hover {
  color: #fff;
  background-color: #116e32;
  border-color: #116e32;
}
.pricing-gd-left.pric-7.active .w3l-pricing-7-top {
  padding: 3em 2.5em 0.5em;
  background-color: #239f4f;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.w3l-pricing-7-main h5 {
  font-size: 15px;
  line-height: 20px;
  color: #239f4f;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  padding: 8px 20px;
  background: #fff;
  border-radius: 10px;
}
.w3l-pricing-7-main .pricing-gd-left.active h6,
.w3l-pricing-7-main .pricing-gd-left.active h4 {
  color: #fff;
}
.pricing-gd-left.pric-7-2.pricing-7-top.buy-button {
  padding-bottom: 44px;
  padding-top: 13px;
}

/* .w3l-pricing-7-main h6{
  color: #fff;
} */
/* .w3l-pricing-7-main h4 {
  color: #fff;
} */
/* .pricing-gd-left.w3l-pricing-7-top h6 {
  color: #fff;
}
.pricing-gd-left.w3l-pricing-7-top h4 {
  color: #fff;
} */
/* <!-- w3l-client id="client" --> */

/* .w3l-clients .testimonial-width {
  max-width: 1050px;
  margin: auto;
}
.owl-carousel {
  display: none;
  width: 100%;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-stage {
  position: relative;
  touch-action: manipulation;
}
.w3l-clients .testimonial {
  display: block;
  margin: 0;
  padding: 40px 30px;
  position: relative;
  background: #ffff;
  border-radius: 20px;
} */

/* main-social-footer */
.footer-28 {
  background-color: #111;
}
.w3l-footer h6.footer-title-28 {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}
.w3l-footer .footer-list-28 ul li,
.w3l-footer .midd-footer-28:nth-child(1) .footer-list-28 ul li:last-child {
  list-style: none;
  margin-bottom: 5px;
}
.footer-list-28 {
  padding-left: 0;
}
.w3l-footer .footer-list-28 ul li a,
.w3l-footer .footer-list-28 ul li p {
  font-weight: normal;
  font-size: 16px;
  color: #696969;
  line-height: 28px;
}
.w3l-footer .footer-list-28 ul li a:hover {
  text-decoration: underline;
  color: #fff;
}
.social-icons {
  display: flex;
}
.social-icons li a {
  padding-left: 0;
}
.social-icons li {
  padding-right: 20px;
}
.w3l-footer .midd-footer-28 {
  background: #111;
  border-top: 1px solid rgba(103, 99, 99, 0.14);
}

.w3l-footer .copy-footer-28 {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #696969;
  margin-bottom: 0;
}
.w3l-footer .copy-footer-28 a {
  color: #f13525;
  opacity: 0.9;
}
