/* toggle-right-sidebar */
.pull-right {
    float: right;
    position: fixed;
    right: 0px;
    top: 70px;
    width: 90px;
    z-index: 99999;
    text-align: center;
}

.toggle-right-sidebar span i {
    background: #0D1326;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #e6ebff;
    border-radius: 50px;
    font-size: 26px;
    cursor: pointer;
    opacity: .5;
}

/* pull-right toggle-right-sidebar */

.toggle-right-sidebar {
    position: fixed;
    right: 0px;
    top: 140px;
    z-index: 99999;
    text-align: center;
    background-color: #0d1326;
    width: fit-content;
    padding: 20px 10px;

}

.right-sidebar-btn {
    background-color: #0d1326;
    color: #41414d;
    font-size: 12px;
    font-weight: bolder;
    cursor: pointer;
}

.right-sidebar-btn:hover {
    color: white
}



/* main-slider */
.Read-More {
    background-color: white;
    color: #239F4F;
    border: solid white;
}

.Contact-Us {
    border: solid white;
    color: white;
}

.Contact-Us:hover {
    background-color: white;
    color: #239F4F;
    border: solid white;

}

.Read-More:hover {
    background-color: white;
    color: #239F4F;
    border: solid white;

}

.left-position {
    top: 20%;
}

.center-position {
    top: 20%;
    left: 40%;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators li.active {
    width: 30px;
    height: 10px;
    border-radius: 50px;
    background-color: #239F4F;


}



/* main-slider */

/* header */
.fixed-top {
    top: 40px !important;
    right: 0 !important;
    left: 0 !important;
    z-index: 1000;
}

.navbar .navbar-brand {
    color: #239F4F !important;
    font-size: 30px !important;
    font-weight: 600 !important;
}

.navbar-collapse {
    flex-grow: 1 !important;
    align-items: center !important;
    flex-basis: 100% !important;
}

.header-top {
    background-color: #ffff;
    display: grid;
    align-items: center;
    height: 100px;
    transition: all 0.4s ease 0s;
}

.navbar .navbar-brand p {
    margin: auto;
}

/* w3l-features py-5 */

.col_icon {
    color: #239F4F;
    font-size: 30px;
}

.col_title {
    font-size: 24px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
    color: #000c04;
}

.col_content {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
    font-family: 'Jost', sans-serif;
}

.col_Read-More {
    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid #239F4F;
    color: var(--heading-color);
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
    text-transform: capitalize;
    cursor: pointer;
}

.col_Read-More:hover {
    color: #239F4F;
}

.features_ {
    background-color: #f9f7fe;
}

.col_ {
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    padding: 40px 20px;
    cursor: pointer;
}

.col_:hover {
    background: rgba(105, 105, 105, 0.3)
}