
/* toggle-right-sidebar */
.pull-right {
    float: right;
    position: fixed;
    right: 0px;
    top: 70px;
    width: 90px;
    z-index: 99999;
    text-align: center;
}
.toggle-right-sidebar span i{
    background: #0D1326;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #e6ebff;
    border-radius: 50px;
    font-size: 26px;
    cursor: pointer;
    opacity: .5;
}

<<<<<<< HEAD
/* CSS for <header id="site-header" class="fixed-top"> */
.fixed-top {
    background-color: aqua;
    position: fixed;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 1000;
    font-size: 1.2em;
    font-weight: 400;
    font-family: 'Jost', sans-serif;

}

.navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 34px;
    font-weight: 600;
    text-transform: capitalize;
    color: #189a46 !important;
}

.navbar-collapse {
    justify-content: flex-end !important
}

.active a {
    color: #189a46 !important;
    color: #000c04;
}

.unline {
    background-color: #189a46 !important;
    width: 0% !important;
    height: 1px !important;
    transition: all 0.75s !important;
}


.nav-item {
    transition: all 0.75s !important;


}

.nav-item:hover .nav-link {
    color: #189a46 !important;

}

.nav-item:hover .unline {
    width: 100% !important;
}

.unline-dropdown {
    background-color: #189a46 !important;
    width: 0% !important;
    height: 1px !important;
    transition: all 0.75s !important;
}

.dropdown-item {
    width: fit-content;
}

.dropdown-item:hover .unline-dropdown {
    width: 100% !important;
}

.dropdown-item:hover {
    color: #189a46 !important;

=======
/* pull-right toggle-right-sidebar */
.fixed-top {
top: 40px !important;
right: 0 !important;
left: 0 !important  ;
}
.navbar .navbar-brand {
color: #239F4F !important;
font-size: 30px !important;
font-weight: 600 !important;
}
.navbar-collapse {
    flex-grow: 1 !important;
    align-items: center !important;
    flex-basis: 100% !important;
}
.header-top {
    background-color: #ffff;
    display: grid;
    align-items: center;
    height: 100px;
    transition: all 0.4s ease 0s;
}
.navbar .navbar-brand p {
    margin: auto;
>>>>>>> 94cd19aaae477ca14f5c3861e3b4e1bf6bd916b7
}